.App {
  height: 100vh;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}